.section__test-icon-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(225deg, #FAFBFB 0%, #F7F8F8 100%);
  padding: 50px 0;
  gap: 40px;
}

.test-icon-banner__icon {
  flex: 0 0 33.3333%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test-icon-banner__icon span {
  margin-top: 20px;
  font-weight: 700;
  max-width: 160px;
}

@media (min-width: 750px){
  .section__test-icon-banner {
    flex-direction: row;
    gap: unset;
  }
}